.main-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 30px;
   
  }
  
  .sidebar-container{
    /* flex: 0 0 300px;  */
  
  }
  
  .page-container{
    /* flex: 1; */
  
  }


  